/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* 设置背景图 */
.bgm{
	-fx-background-image:url(bgm.png);
	-fx-background-size:100.0%;
}

/* 设置字体：白色 加粗 */
.font{
	-fx-text-fill:#FFFFFF;
	-fx-font-weight: bold;
}

/* 按钮按压特效 */
.on_btn_pressed{
	-fx-text-fill: white;
	-fx-opacity:0.9;
	-fx-background-color: linear-gradient(#FA8072, #FFF5EE);
	/*
	 * -fx-font-family: "Arial Narrow";
	 * -fx-font-weight: bold;
	 * -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
	 */
}

.btn{
	-fx-text-fill: black;
	-fx-background-color: linear-gradient(#F5F5F5, #F5F5F5);
	-fx-opacity:0.6;
}

/* 按钮悬停特效 */
.button:hover {
	-fx-background-color: linear-gradient(#7FFFD4, #F5FFFA);
	-fx-opacity:1
}
